<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.lwAdminUserDao">
    <select id="findAll" resultType="com.example.demo.entity.lwAdminUser">
    select admin,adminpassword,phone from admin_info
  </select>
    <insert id="saveAdminUser" parameterType="com.example.demo.entity.lwAdminUser">
        insert into admin_info (admin,adminpassword,phone) values (#{admin},#{adminpassword},#{phone})
    </insert>
    <delete id="Delete" parameterType="String">
        delete from admin_info where admin=#{admin}
-- 在这里是id或者是iddd其他任意字符都可以只传过来了一个变量，体会与传入
-- 对象的不同，当传入多个变量时需要在interface中先绑定，如 findNameOrEmail
    </delete>
    <update id="updateAdminUser" parameterType="com.example.demo.entity.lwAdminUser">
        update admin_info set admin=#{admin},adminpassword=#{adminpassword},phone=#{phone} where admin=#{admin}
    </update>
    <select id="findByName" resultType="com.example.demo.entity.lwAdminUser">
    select * from admin_info where admin=#{admin}
  </select>
</mapper>