<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.lwCategoryDao">
    <select id="findAllCategory" resultType="com.example.demo.entity.lwCategory">
    select ctype,cname from category
  </select>
    <insert id="saveCategory" parameterType="com.example.demo.entity.lwCategory">
        insert into category (ctype,cname) values (#{ctype},#{cname})
    </insert>
    <delete id="deleteCategory" parameterType="String">
        delete from category where ctype=#{ctype}
-- 在这里是id或者是iddd其他任意字符都可以只传过来了一个变量，体会与传入
-- 对象的不同，当传入多个变量时需要在interface中先绑定，如 findNameOrEmail
    </delete>
    <update id="updateCategory" parameterType="com.example.demo.entity.lwCategory">
        update category set ctype=#{ctype},cname=#{cname} where ctype=#{ctype}
    </update>
    <select id="findCategoryByType" resultType="com.example.demo.entity.lwCategory">
    select * from category where ctype=#{ctype}
  </select>
</mapper>