<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.lwSlideImgDao">
    <select id="findAllSlideImg" resultType="com.example.demo.entity.lwSlideImg">
    select id,description,link from slide
  </select>
    <insert id="saveSlideImg" parameterType="com.example.demo.entity.lwSlideImg">
        insert into slide (id,description,link) values (#{id},#{description},#{link})
    </insert>
    <delete id="deleteSlideImg" parameterType="String">
        delete from slide where id=#{id}
-- 在这里是id或者是iddd其他任意字符都可以只传过来了一个变量，体会与传入
-- 对象的不同，当传入多个变量时需要在interface中先绑定，如 findNameOrEmail
    </delete>
    <update id="updateSlideImg" parameterType="com.example.demo.entity.lwSlideImg">
        update slide set id=#{id},description=#{description},link=#{link} where id=#{id}
    </update>
    <select id="findImgById" resultType="com.example.demo.entity.lwSlideImg">
    select * from slide where id=#{id}
  </select>
</mapper>