<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理系统</title>
    <link rel="stylesheet" href="bootvue/css/bootstrap.min.css">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">用户管理</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">欢迎：xxx</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--center layout-->
    <div class="container-fluid">
        <!--搜索框-->
        <div class="row">
            <div class="col-md-offset-0">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <label for="bs-example-navbar-collapse-1">Name</label>
                        <input type="text" class="form-control" placeholder="Search" v-model="searchName">
                    </div>
                    <div class="form-group">
                        <label for="bs-example-navbar-collapse-1">Email</label>
                        <input type="text" class="form-control" placeholder="Search" v-model="searchEmail">
                    </div>
                    <button type="button" class="btn btn-info" @click="searchLike">Search</button>
                </form>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-8">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>age</th>
                        <th>salary</th>
                        <th>email</th>
                        <th>actions</th>
                    </tr>
                    <tbody>
                    <tr v-for="user,index in users" :key="user.id">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.salary}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <button class="btn-danger" @click="deleteUser(user.id)">delete</button>&nbsp;&nbsp;<button class="btn-primary" @click="changeUser(user.id)">change
                        </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text" class="form-control" id="username" v-model="user_info.name" placeholder="Please input name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" v-model="user_info.email" placeholder="Please input email">
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary</label>
                        <input type="text" class="form-control" id="salary" v-model="user_info.salary" placeholder="Please input salary">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" class="form-control" id="age" v-model="user_info.age" placeholder="Please input index">
                    </div>
                    <button type="button" class="btn btn-info" @click="saveUserInfo">Submit</button>
                    <button type="button" class="btn btn-danger" @click="clearInput">Reset</button>
                </form>
            </div>
        </div>

    </div>
</div>

<script src="bootvue/js/vue.js"></script>
<script src="bootvue/js/axios.min.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            users:[],
            user_info:{},
            searchName:"",//处理搜索的数据绑定
            searchEmail:""
        },
        methods: {
            //搜索功能
            searchLike(){
                let _this=this;
                axios.post("http://localhost:8989/user/user/searchUser",{params_1:_this.searchName,params_2:_this.searchEmail}).then(function (res) {
                    console.log(res);
                    _this.users=res.data;
                }).catch(function (err) {
                    console.log(err);
                });
            },
            // change user info
            changeUser(id){
                for(let i=0;i<this.users.length;i++)
                {
                    if(this.users[i].id==id){
                        this.user_info=JSON.parse(JSON.stringify(this.users[i]));//解决vue赋值之后新对象与旧对象默认双向绑定问题,或者从数据库再获取一遍
                        break;
                    }
                }
            },
            //delete user

            deleteUser(id){
                let _this=this;
                console.log(id);
                axios.post("http://localhost:8989/user/user/deleteUser",{params_1:id}).then(function (res) {
                    console.log(res);
                    if(res.data.success){
                        //refresh
                        _this.findAll();
                        _this.user_info={};
                    }else{
                        alert(res.data.message);
                        console.log(res.data.success);
                    }
                }).catch(function (err) {
                    console.log(err);
                });

            },
            saveUserInfo(){
                let _this=this;
                console.log(_this.user_info);
                axios.post("http://localhost:8989/user/user/save",this.user_info).then(function (res) {
                    console.log(res.data);
                    if(res.data.success){
                        //refresh
                        _this.findAll();
                        _this.user_info={};
                    }else{
                        alert(res.data.message);
                        console.log(res.data.success);
                    }
                }).catch(function (err) {
                    console.log(err);
                });
            },
            findAll(){
                let _this=this;
                axios.get("http://localhost:8989/user/user/findAll").then(function (res) {
                    console.log(res);
                    _this.users=res.data;
                }).catch(function (err) {
                    console.log(err);
                });
            },
            clearInput(){
                this.user_info={};
            }
        },
        created(){
            this.findAll();
        }
    })
</script>
</body>
</html>